<header class="h-10 flex space-x-48 items-center justify-center mt-16 absolute z-10 left-0 right-0">
    <div class="text-3xl font-sans">Typeform</div>
    <div class="flex items-center justify-center space-x-6">
        <div class="flex justify-center items-center">
            <a class="cursor-default">Products</a>
            <img src="../assets/icons/arrow-down.svg" alt="" class="w-2 h-2 ml-2">
        </div>
        <div class="flex justify-center items-center">
            <a class="cursor-default">Templates</a>
            <img src="../assets/icons/arrow-down.svg" alt="" class="w-2 h-2 ml-2">
        </div>
        <div class="flex justify-center items-center">
            <a class="cursor-default">Integrations</a>
            <img src="../assets/icons/arrow-down.svg" alt="" class="w-2 h-2 ml-2">
        </div>
        <div class="flex justify-center items-center">
            <a class="cursor-default">Resources</a>
            <img src="../assets/icons/arrow-down.svg" alt="" class="w-2 h-2 ml-2">
        </div>
        <div>
            <a class="cursor-default">Pricing</a>
        </div>
        <div>
            <a class="cursor-default">Careers</a>
        </div>
        <div class="cursor-pointer mx-1 px-1 bg-red-500 text-white text-xs rounded-md"> 
            COVID-19
        </div>
        <div class="cursor-pointer border border-black p-2 px-4 rounded-sm">
            Log in
        </div>
        <div class="cursor-pointer bg-black bg-opacity-80 p-2 px-4 text-white rounded-sm hover:opacity-75 transition duration-150">
            Sign up 
        </div>
    </div>
</header>