<div class="flex flex-col justify-center items-center py-10 px-6 rounded-md shadow-lg w-80 my-4">
    <div class="text-2xl text-center mb-7">"{{ testimonial.quote }}"</div>
    <img src="../assets/home-page/images/testimonials/avatars/avatar-{{ testimonial.avatar}}.jpg" alt="" class="rounded-full w-16 mb-3">
    <div class="text-gray-400 mb-7">{{ testimonial.occupation }}</div>
    <img src="../assets/home-page/images/testimonials/logos/{{ testimonial.logo}}.png" alt="" class="rounded-full w-16">
</div>